I
800 written by DSFTool 2.3.0-b2
DSF2TEXT

# file: /home/xplane/programming/git/osm_to_obj/tools/-04+137.dsf

# pool  0: p=3 s=    2  0.03125 137.59375  0.03125 -4.00000  360.00000 0.00000

DIVISIONS 32
PROPERTY sim/west -180
PROPERTY sim/east 180
PROPERTY sim/north 90
PROPERTY sim/south -90
PROPERTY sim/planet earth
PROPERTY sim/creation_agent WorldEditor2.5.2r1
PROPERTY laminar/internal_revision 0
PROPERTY sim/overlay 1
PROPERTY sim/require_agpoint 1/0
PROPERTY sim/require_object 1/0
